footer {
  background-color: #0046be;
}

footer .footer {
  visibility: hidden;
}

footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

footer .footer > div {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

footer .section {
  margin: 0;
  padding: 0;
}

footer .section > div {
  max-width: 100%;
  padding: 0;
}
