/* HumanBBYDigital — Best Buy corporate font */
@font-face {
  font-family: HumanBBYDigital;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/HumanBBYDigital-Regular.woff') format('woff');
}

@font-face {
  font-family: HumanBBYDigital;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/HumanBBYDigital-Medium.woff') format('woff');
}

@font-face {
  font-family: HumanBBYDigital;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/HumanBBYDigital-Bold.woff') format('woff');
}
